{"openapi":"3.0.1","info":{"title":"ZONOS API","description":"This is the ZONOS API.","termsOfService":"","contact":{"name":"Cuculus GmbH","url":"http://cuculus.net","email":"info@cuculus.net"},"license":{"name":"Proprietary","url":"https://cuculus.net"},"version":"45.0.9"},"servers":[{"url":"https://demo.zonos.de/zonos-api","description":"Generated server url"}],"tags":[{"name":"Push Setups","description":"Operations for managing device push setups"}],"paths":{"/api/2/input-mappings/{name}":{"get":{"tags":["Configuration: Input Mapping"],"summary":"Get the input mapping identified by this resource","description":"Attributes for authorization: *Resource ID* **input_mappings**, *Operation* **read**","operationId":"getInputMapping","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InputMapping"}}}}}},"put":{"tags":["Configuration: Input Mapping"],"summary":"Set the input mapping identified by this resource","description":"Attributes for authorization: *Resource ID* **input_mappings**, *Operation* **write**","operationId":"setInputMapping","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"input mapping","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InputMappingData"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InputMapping"}}}}}},"delete":{"tags":["Configuration: Input Mapping"],"summary":"Delete the input mapping identified by this resource","description":"Attributes for authorization: *Resource ID* **input_mappings**, *Operation* **delete**","operationId":"deleteInputMapping","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/2/devices/{device}/group":{"put":{"tags":["Inventory Management"],"summary":"Set the group of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setDeviceGroup","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A valid group id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderUUID"}}},"required":true},"responses":{"204":{"description":"The group was set."}}}},"/api/2/device-types/{uuid}":{"get":{"tags":["Inventory Management"],"summary":"Get the device type","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **read**","operationId":"getDeviceType","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceType"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Update a device type","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **write**","operationId":"update","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeviceTypeData"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["Inventory Management"],"summary":"Delete a device type","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **delete**","operationId":"deleteDeviceType","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/api/2/device-templates/{uuid}":{"get":{"tags":["Inventory Management: Device Templates"],"summary":"Get the device template with given UUID","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **read**","operationId":"getTemplate","parameters":[{"name":"uuid","in":"path","description":"Device template UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTemplate"}}}}}},"put":{"tags":["Inventory Management: Device Templates"],"summary":"Update the device template with given UUID","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **write**","operationId":"setDeviceTemplate","parameters":[{"name":"uuid","in":"path","description":"Device template UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"template","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeviceTemplate"}}},"required":true},"responses":{"204":{"description":"OK"},"400":{"description":"Bad request"}}}},"/api/1/vee/rule-sets/{ruleSet}/name":{"put":{"tags":["VEE"],"summary":"Change the name of a rule set","description":"Attributes for authorization: *Resource ID* **vee_rule_sets**, *Operation* **write**","operationId":"setRuleSetName","parameters":[{"name":"ruleSet","in":"path","description":"Rule Set ID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Rule Set Name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}},"required":true},"responses":{"204":{"description":"Rule set name was changed successfully"},"404":{"description":"Rule set not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"Name is already used by another rule set","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/register-groups/{id}":{"get":{"tags":["Registers"],"summary":"Get a known register group","description":"Attributes for authorization: *Resource ID* **register_groups**, *Operation* **read**","operationId":"getRegisterGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Register group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterGroup"}}}}}},"put":{"tags":["Registers"],"summary":"Create or update a register group","description":"Attributes for authorization: *Resource ID* **register_groups**, *Operation* **write**","operationId":"setRegisterGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Register Group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterGroupPrototype"}}},"required":true},"responses":{"204":{"description":"Register group created or updated successfully"},"400":{"description":"Invalid register specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"Register group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"Name is already used by another register group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["Registers"],"summary":"Remove a known register group","description":"Attributes for authorization: *Resource ID* **register_groups**, *Operation* **delete**","operationId":"deleteRegisterGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Register group deleted successfully"},"404":{"description":"Register group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/output-mappings":{"put":{"tags":["Registers"],"summary":"Create output value mappings","description":"Attributes for authorization: *Resource ID* **output_mappings**, *Operation* **write**","operationId":"setOutputMappings","requestBody":{"description":"output mappings","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OutputMapping"}}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["Registers"],"summary":"Delete output value mappings","description":"Attributes for authorization: *Resource ID* **output_mappings**, *Operation* **delete**","operationId":"deleteOutputMappings","requestBody":{"description":"output mappings","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OutputMapping"}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/1/metering-points/{meteringPoint}":{"get":{"tags":["Metering Point"],"summary":"Get a metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **read**","operationId":"getMeteringPoint","parameters":[{"name":"meteringPoint","in":"path","description":"Metering point ID","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Metering point not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"put":{"tags":["Metering Point"],"summary":"Create or update a metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **write**","operationId":"createOrUpdateMeteringPoint","parameters":[{"name":"meteringPoint","in":"path","description":"Metering point ID","required":true,"schema":{"type":"string"},"example":"mp-123456789"}],"requestBody":{"description":"metering point","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeteringPointSetRequest"}}},"required":true},"responses":{"400":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["Metering Point"],"summary":"Delete a metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **delete**","operationId":"deleteMeteringPoint","parameters":[{"name":"meteringPoint","in":"path","description":"Metering point ID","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Metering point deleted successfully"},"404":{"description":"Metering point not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/metering-points/{meteringPoint}/state-history":{"get":{"tags":["Metering Point"],"summary":"Get the state history of a given metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **read**","operationId":"getMeteringPointStateHistory","parameters":[{"name":"meteringPoint","in":"path","description":"Metering point ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StateHistoryEntry"}}}}}}},"put":{"tags":["Metering Point"],"summary":"Set the state history of a metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **write**","operationId":"setMeteringPointStateHistory","parameters":[{"name":"meteringPoint","in":"path","description":"Metering point ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"history","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StateHistoryEntry"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StateHistoryEntry"}}}}}}}},"/api/1/metering-points/{meteringPoint}/service-level":{"put":{"tags":["Metering Point"],"summary":"Set the service level of a metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **write**","operationId":"meteringPointSetServiceLevel","parameters":[{"name":"meteringPoint","in":"path","description":"Metering point ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"service level","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}},"required":true},"responses":{"204":{"description":"Service level was set"},"404":{"description":"Metering point was not found"}}}},"/api/1/metering-points/{meteringPoint}/parameters/{parameter}":{"get":{"tags":["Inventory Management"],"summary":"Get the value of a single named parameter assigned to provided metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **read**","operationId":"getMeteringPointParameterValue","parameters":[{"name":"meteringPoint","in":"path","required":true,"schema":{"type":"string"}},{"name":"parameter","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The parameter value is returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}}},"404":{"description":"Provided metering point or parameter name are unknown or parameter is not present on metering point.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Assign the named parameter to provided metering point with the given value","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **write**","operationId":"setMeteringPointParameterValue","parameters":[{"name":"meteringPoint","in":"path","required":true,"schema":{"type":"string"}},{"name":"parameter","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"metering point","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}},"required":true},"responses":{"204":{"description":"The parameter value was correctly set."},"404":{"description":"Provided metering point or parameter name are unknown."}}},"delete":{"tags":["Inventory Management"],"summary":"Remove the assignment of named parameter from provided metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **write**","operationId":"remove_1","parameters":[{"name":"meteringPoint","in":"path","required":true,"schema":{"type":"string"}},{"name":"parameter","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The parameter value was removed."},"404":{"description":"Provided metering point or parameter name are unknown."}}}},"/api/1/metering-points/{meteringPoint}/devices/{device}/{installedAt}":{"put":{"tags":["Metering Point"],"summary":"Assign a device to a metering point","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **write**","operationId":"meteringPointAssignDevice","parameters":[{"name":"meteringPoint","in":"path","description":"Metering point ID","required":true,"schema":{"type":"string"}},{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"installedAt","in":"path","description":"The installation date (this date should be in the past)","required":true,"schema":{"type":"string","format":"date-time"},"example":"2016-01-01T00:12:12.000Z"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeteringPointDevices"}}}}},"deprecated":true,"x-deprecation":{"message":"Will be removed in ZONOS 27.0"}}},"/api/1/metering-point-parameters/{name}":{"get":{"tags":["Inventory Management"],"summary":"Get properties of a single parameter","description":"Attributes for authorization: *Resource ID* **metering_point_parameters**, *Operation* **read**","operationId":"getMeteringPointParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeteringPointParameterResponse"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Create or update a single extension parameter","description":"Attributes for authorization: *Resource ID* **metering_point_parameters**, *Operation* **write**","operationId":"setMeteringPointParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeteringPointParameterRequest"}}},"required":true},"responses":{"204":{"description":"The extension parameter was created successfully."},"400":{"description":"An invalid parameter name was provided."}}},"delete":{"tags":["Inventory Management"],"summary":"Delete a single extension parameter","description":"Attributes for authorization: *Resource ID* **metering_point_parameters**, *Operation* **delete**","operationId":"deleteMeteringPointParameter","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The extension parameter was removed successfully."},"400":{"description":"An invalid parameter name was provided."}}}},"/api/1/keys/{id}/versions/{version}":{"put":{"tags":["Key Management"],"summary":"Activate or reject a key","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setCryptoKeyStatus","parameters":[{"name":"id","in":"path","description":"Identifier of the key","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","description":"Version of the key","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoKey"}}},"required":true},"responses":{"204":{"description":"Status was changed"},"409":{"description":"Status change not allowed"},"503":{"description":"\nKey management system is not configured.\n\nSince ZONOS FullProtect is an optional module, the API will report this error in its absence for all operations\nrequiring it. Please make sure access to ZONOS FullProtect is correctly configured.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/groups/{id}":{"get":{"tags":["Group"],"summary":"Get a group","description":"Attributes for authorization: *Resource ID* **groups**, *Operation* **read**","operationId":"getGroup_1","parameters":[{"name":"id","in":"path","description":"Id of a group","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully returned group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Group"}}}},"404":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}},"deprecated":true},"put":{"tags":["Group"],"summary":"Update a group","description":"Attributes for authorization: *Resource ID* **groups**, *Operation* **write**","operationId":"updateGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Group details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroupRequest"}}},"required":true},"responses":{"200":{"description":"Group successfully updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"404":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"Group name was not unique","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"delete":{"tags":["Group"],"summary":"Delete a group","description":"Attributes for authorization: *Resource ID* **groups**, *Operation* **delete**","operationId":"deleteGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Group successfully deleted"},"404":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"Group is in use","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/devices/{device}/virtual-topology/subs":{"get":{"tags":["Inventory Management"],"summary":"Get the virtual sub meters of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"getSubMeters","parameters":[{"name":"device","in":"path","description":"Virtual meter to get the sub meters of","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}}}}},"put":{"tags":["Inventory Management"],"summary":"Set the virtual sub meters of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setSubMeters","parameters":[{"name":"device","in":"path","description":"Virtual meter to set the sub meters of","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"List of sub meters to set","content":{"application/json":{"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/1/devices/{device}/virtual-topology/subs/{subMeter}":{"put":{"tags":["Inventory Management"],"summary":"Add a sub meter to a virtual meter","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"addSubMeter","parameters":[{"name":"device","in":"path","description":"Virtual meter to add a sub meter to","required":true,"schema":{"type":"string"}},{"name":"subMeter","in":"path","description":"Sub meter to add","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["Inventory Management"],"summary":"Remove a sub meter from a virtual meter","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"removeSubMeter","parameters":[{"name":"device","in":"path","description":"Virtual meter to remove a sub meter from","required":true,"schema":{"type":"string"}},{"name":"subMeter","in":"path","description":"Sub meter to remove","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/1/devices/{device}/virtual-topology/main":{"get":{"tags":["Inventory Management"],"summary":"Get the main meter of a virtual meter","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"getMainMeter","parameters":[{"name":"device","in":"path","description":"Virtual meter to get the main meter of","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Set the main meter of a virtual meter","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setMainMeter","parameters":[{"name":"device","in":"path","description":"Virtual meter to set the main meter of","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Main meter to set","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/1/devices/{device}/topology":{"get":{"tags":["Topology"],"summary":"Get the topology of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceTopologyGet","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of children connected to requested parent device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyData"}}}}}},"put":{"tags":["Topology"],"summary":"Set the topology of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceTopologySet","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"topology message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyValue"}}},"required":true},"responses":{"204":{"description":"No errors"}}},"post":{"tags":["Topology"],"summary":"Add topology for a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceTopologyAdd","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"topology","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopologyValue"}}},"required":true},"responses":{"204":{"description":"No errors"}}},"delete":{"tags":["Topology"],"summary":"Delete the topology of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceTopologyDelete","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"List of child items","content":{"application/json":{"schema":{"maxItems":2147483647,"minItems":1,"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"204":{"description":"No errors"}}}},"/api/1/devices/{device}/registers/{register}":{"get":{"tags":["Inventory Management"],"summary":"Get a register of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceProfileGetRegister","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The register was returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Add or update a new register to a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceProfileAddRegister","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Register details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterSpecification"}}},"required":true},"responses":{"200":{"description":"The register was successfully set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}},"404":{"description":"VEE rule or source register not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}},"400":{"description":"Invalid value for transformer factor or standard consumption","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}}}},"delete":{"tags":["Inventory Management"],"summary":"Delete a register of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceProfileDeleteRegister","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The register was successfully deleted."}}},"patch":{"tags":["Inventory Management"],"summary":"Update a register of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceProfileChangeRegister","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Register details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterSpecification"}}},"required":true},"responses":{"200":{"description":"The register was successfully changed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}}}}},"/api/1/devices/{device}/registers/{register}/transformer-factor":{"put":{"tags":["Inventory Management"],"summary":"Set the transformer factor for a register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceRegisterSetTransformerFactor","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Transformer factor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderBigDecimal"}}},"required":true},"responses":{"204":{"description":"The transformer factor was successfully set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}}}}},"/api/1/devices/{device}/registers/{register}/standard-load-profile":{"put":{"tags":["Inventory Management"],"summary":"Set the standard load profile for a register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceRegisterSetStandardLoadProfile","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Standard load profile ID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}},"required":true},"responses":{"204":{"description":"The standard load profile was successfully set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}}}}},"/api/1/devices/{device}/registers/{register}/source-register":{"put":{"tags":["Inventory Management"],"summary":"Set the source register for a register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceRegisterSetSourceRegister","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Source register e.g. 1-0:1.8.0*255","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}},"required":true},"responses":{"204":{"description":"The source register was successfully set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}}}}},"/api/1/devices/{device}/registers/{register}/measurement-interval":{"put":{"tags":["Inventory Management"],"summary":"Set the measurement interval for a register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceRegisterSetMeasurementInterval","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Measurement interval","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderInteger"}}},"required":true},"responses":{"200":{"description":"The measurement interval was successfully set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Register"}}}}}}},"/api/1/devices/{device}/parameters/{parameter}":{"get":{"tags":["Inventory Management"],"summary":"Get the value of a device parameter","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceGetParameter","parameters":[{"name":"device","in":"path","description":"A valid device identifier.","required":true,"schema":{"type":"string"}},{"name":"parameter","in":"path","description":"A valid parameter name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Set the value of a device parameter","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceSetParameter","parameters":[{"name":"device","in":"path","description":"A valid device identifier.","required":true,"schema":{"type":"string"}},{"name":"parameter","in":"path","description":"A valid parameter name","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/1/devices/{device}/inventory-state":{"put":{"tags":["Inventory Management"],"summary":"Set the inventory state of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"inventoryManagementSetInventoryState","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Inventory state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderInventoryState"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/1/devices/{device}/identifiers/{identifier}":{"put":{"tags":["Inventory Management"],"summary":"Set the identifier for a device which can be used to access the device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setDeviceIdentifier","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"identifier","in":"path","description":"A valid device identifier.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The device identifier value. Maximum 50 characters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/identifierValue"}}},"required":true},"responses":{"204":{"description":"The identifier was set."},"400":{"description":"Bad request"},"404":{"description":"The device not exist."}}},"delete":{"tags":["Inventory Management"],"summary":"Delete an identifier of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deleteDeviceIdentifier","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"identifier","in":"path","description":"A valid device identifier.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"The identifier was successfully deleted."}}}},"/api/1/devices/{device}/group":{"put":{"tags":["Inventory Management"],"summary":"Set the group of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setDeviceGroup_1","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A valid group name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}},"required":true},"responses":{"204":{"description":"The group was set."}},"deprecated":true}},"/api/1/devices/{device}/dispatch-group":{"put":{"tags":["Inventory Management"],"summary":"Set the dispatch group of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setDeviceDispatchGroup","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"A valid dispatch group name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}},"required":true},"responses":{"204":{"description":"The dispatch group was set."},"404":{"description":"Device not found"},"400":{"description":"Bad request"}}}},"/api/1/devices/{device}/crypto-sets":{"put":{"tags":["Key Management"],"summary":"Set crypto sets","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setCryptoSets","parameters":[{"name":"device","in":"path","description":"Device identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"cryptoSets","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SetCryptoSetRequest"}}}},"required":true},"responses":{"503":{"description":"\nKey management system is not configured.\n\nSince ZONOS FullProtect is an optional module, the API will report this error in its absence for all operations\nrequiring it. Please make sure access to ZONOS FullProtect is correctly configured.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/devices/{device}/communication-module":{"get":{"tags":["Inventory Management"],"summary":"Get the identifier of a connected communication module","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"getCommunicationModule","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string","description":"Device ID of the meter"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Connect or disconnect communication module and device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setCommunicationModule","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string","description":"Device ID of the meter"}}],"requestBody":{"description":"Device ID of the communication module","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MaybeValueHolderString"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/1/devices/{device}/collect-data":{"put":{"tags":["Inventory Management"],"summary":"Start or stops periodic processes for data collecting for a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"controlCollectData","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Start or stop data collection","content":{"application/json":{"schema":{"type":"boolean"}}},"required":true},"responses":{"204":{"description":"Collecting of data has been started or stopped for the device."},"404":{"description":"Device not found"},"400":{"description":"Bad request"}}}},"/api/1/devices/{device}/collect-data/{category}":{"get":{"tags":["Inventory Management"],"summary":"Get the state for a category of periodic processes if the data collecting for a device is active","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"getCollectDataForACategory","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"category","in":"path","required":true,"schema":{"type":"string","description":"Category of periodic processes","enum":["profiles","events","other"]}}],"responses":{"200":{"description":"State of periodic processes if the data collecting for a device is active.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderBoolean"}}}},"404":{"description":"Device not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderBoolean"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderBoolean"}}}}}},"put":{"tags":["Inventory Management"],"summary":"Start or stop a category of periodic processes for data collecting for a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"controlCollectDataForACategory","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"category","in":"path","description":"Category of periodic processes","required":true,"schema":{"type":"string","enum":["profiles","events","other"]}}],"requestBody":{"description":"Start or stop data collection","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CollectDataRequest"}}},"required":true},"responses":{"204":{"description":"Collecting of data has been started or stopped for the selected category of the device."},"404":{"description":"Device not found"},"400":{"description":"Bad request"}}}},"/api/1/device-types/{id}":{"get":{"tags":["Inventory Management"],"summary":"Get the device type","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **read**","operationId":"getDeviceType_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"List of device types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTypeV1"}}}}},"deprecated":true},"put":{"tags":["Inventory Management"],"summary":"Update a device type","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **write**","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeviceTypeDataV1"}}},"required":true},"responses":{"204":{"description":"No Content"}},"deprecated":true},"delete":{"tags":["Inventory Management"],"summary":"Delete a device type","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **delete**","operationId":"deleteDeviceType_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"No Content"}},"deprecated":true}},"/api/1/device-templates/{template}/parameters/{parameter}":{"put":{"tags":["Inventory Management"],"summary":"Assign an extension parameter to a device template","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **write**","operationId":"deviceTemplateParameterSetParameter","parameters":[{"name":"template","in":"path","description":"A valid device template identifier. For getting the device template Id, use the GET /api/1/device-types interface.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"parameter","in":"path","description":"A valid parameter name. For getting the valid extension parameters, use the GET /api/1/device-parameters interface.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTemplateParameterRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["Inventory Management"],"summary":"Remove an extension parameter from a device template","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **write**","operationId":"deviceTemplateParameterDeleteParameter","parameters":[{"name":"template","in":"path","description":"A valid device template identifier. For getting the device template Id, use the GET /api/1/device-types interface.","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"parameter","in":"path","description":"A valid parameter name. For getting the valid extension parameters, use the GET /api/1/device-parameters interface.","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/api/1/device-templates/{id}":{"get":{"tags":["Inventory Management: Device Templates"],"summary":"Get the device template with given ID","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **read**","operationId":"getTemplate_1","parameters":[{"name":"id","in":"path","description":"Device template ID","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTemplateV1"}}}}},"deprecated":true},"put":{"tags":["Inventory Management: Device Templates"],"summary":"Update the device template with given ID","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **write**","operationId":"setDeviceTemplate_1","parameters":[{"name":"id","in":"path","description":"Device template ID","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"description":"template","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateDeviceTemplateV1"}}},"required":true},"responses":{"204":{"description":"OK"},"400":{"description":"Bad request"}},"deprecated":true}},"/api/1/device-parameters/{parameter}":{"put":{"tags":["Inventory Management"],"summary":"Create or update an extension parameter","description":"Attributes for authorization: *Resource ID* **device_parameters**, *Operation* **write**","operationId":"deviceAddParameter","parameters":[{"name":"parameter","in":"path","description":"A valid parameter name following the convention (i.e., ext.parameter_name) using only lower case letters.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"parameter properties","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateParameterRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/1/customers/{customer}":{"get":{"tags":["Customers and contracts"],"summary":"Get a customer","description":"Attributes for authorization: *Resource ID* **customers**, *Operation* **read**","operationId":"getCustomer","parameters":[{"name":"customer","in":"path","description":"Customer number","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Requested customer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"404":{"description":"Customer not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}}}},"put":{"tags":["Customers and contracts"],"summary":"Create or update a customer","description":"Attributes for authorization: *Resource ID* **customers**, *Operation* **write**","operationId":"setCustomer","parameters":[{"name":"customer","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"customerRequest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}},"required":true},"responses":{"400":{"description":"Customer type not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"404":{"description":"Customer not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}},"409":{"description":"Customer already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}}}}},"delete":{"tags":["Customers and contracts"],"summary":"Delete a customer","description":"Attributes for authorization: *Resource ID* **customers**, *Operation* **delete**","operationId":"deleteCustomer","parameters":[{"name":"customer","in":"path","description":"Customer number","required":true,"schema":{"type":"string"}}],"responses":{"409":{"description":"Can not remove customer with active contracts"}}}},"/api/1/customers/{customer}/contracts/{contract}/properties/{property}":{"put":{"tags":["Customers and contracts"],"summary":"Set a contract property","description":"Attributes for authorization: *Resource ID* **contracts**, *Operation* **write**","operationId":"customerSetContractProperty","parameters":[{"name":"customer","in":"path","description":"Customer number","required":true,"schema":{"type":"string"}},{"name":"contract","in":"path","description":"Contract number","required":true,"schema":{"type":"string"}},{"name":"property","in":"path","description":"Contract property name","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Contract property value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/3/devices":{"post":{"tags":["Inventory Management"],"summary":"Create devices","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"inventoryManagementCreateDeviceBulkV3","requestBody":{"description":"request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceRequestV3"}}}},"required":true},"responses":{"204":{"description":"No content","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}},"415":{"description":"Unsupported media type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}}}}},"/api/2/devices":{"post":{"tags":["Inventory Management"],"summary":"Create devices","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"inventoryManagementCreateDeviceBulkV2","requestBody":{"description":"request","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceRequestV2"}}}},"required":true},"responses":{"204":{"description":"No content","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}},"415":{"description":"Unsupported media type","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CreateDeviceResponse"}}}}}},"deprecated":true}},"/api/2/devices/{device}/profiles/{profile}/profile-configurations":{"post":{"tags":["Profiles"],"summary":"Set profile configuration on device profile","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setProfileConfiguration","parameters":[{"name":"device","in":"path","description":"The device identifier","required":true,"schema":{"type":"string"},"example":"81010001A"},{"name":"profile","in":"path","description":"The profile identifier","required":true,"schema":{"type":"string"},"example":"Load profile 1"}],"requestBody":{"description":"configuration details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDetails"}}},"required":true},"responses":{"200":{"description":"profile configuration details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDetails"}}}},"404":{"description":"The device or profile or profile configuration were not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"400":{"description":"The active since was set in future or active since was less than current active since","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/2/devices/{device}/metered-data":{"get":{"tags":["Registers"],"summary":"Get the metered data of all registers of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceMeteredDataGet","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}},{"name":"from","in":"query","description":"The start of the time range to return values for (exclusive)","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"to","in":"query","description":"The end of the time range to return values for (inclusive)","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Time series for each register","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterTimeSeries"}}}},"404":{"description":"The device was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"post":{"tags":["Registers"],"summary":"Add metered data for a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceMeteredDataAdd","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Metered data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegisterTimeSeries"}}}},"required":true},"responses":{"204":{"description":"Data was accepted and will be processed."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"404":{"description":"The device was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/2/devices/control/write-profile-configuration":{"post":{"tags":["Device Control: Profile Configuration"],"summary":"Write or apply a new profile configuration to a profile","description":"Attributes for authorization: *Resource ID* **profile_configuration_write_transactions**, *Operation* **write**","operationId":"write","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteProfileConfigurationRequest"}}},"required":true},"responses":{"400":{"description":"Bad request"}}}},"/api/2/devices/control/load-limit/set":{"post":{"tags":["Device Control: Load Limit"],"summary":"Create a Set Load Limit transaction","description":"Attributes for authorization: *Resource ID* **limiter_configuration_write_transactions**, *Operation* **write**","operationId":"deviceControlSetLoadLimit","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetLoadLimitParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/2/devices/control/firmware/upload":{"post":{"tags":["Device Control: Firmware"],"summary":"Create an Upload Firmware transaction","description":"Attributes for authorization: *Resource ID* **firmware_update_transactions**, *Operation* **write**","operationId":"deviceControlUploadFirmware","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadFirmwareParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}},"deprecated":true,"x-deprecation":{"message":"Use the bulk interface /api/1/devices/control/firmware/firmware-update instead"}}},"/api/2/devices/control/firmware/activate":{"post":{"tags":["Device Control: Firmware"],"summary":"Create an Activate Firmware transaction","description":"Attributes for authorization: *Resource ID* **firmware_update_transactions**, *Operation* **write**","operationId":"deviceControlActivateFirmware","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivateFirmwareParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}},"deprecated":true,"x-deprecation":{"message":"Use the bulk interface /api/1/devices/control/firmware/firmware-update instead"}}},"/api/2/devices/control/activity-calendar/set":{"post":{"tags":["Device Control: Activity Calendar"],"summary":"Create a Set Activity Calendar transaction","description":"Attributes for authorization: *Resource ID* **activity_calendar_configuration_write_transactions**, *Operation* **write**","operationId":"deviceControlSetActivityCalendar","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetActivityCalendarParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/2/devices/control/activity-calendar/get":{"post":{"tags":["Device Control: Activity Calendar"],"summary":"Create a Get Activity Calendar transaction","description":"Attributes for authorization: *Resource ID* **activity_calendar_configuration_read_transactions**, *Operation* **write**","operationId":"deviceControlGetActivityCalendar","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetActivityCalendarParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/2/device-types":{"get":{"tags":["Inventory Management"],"summary":"Get available device types","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **read**","operationId":"getDeviceTypes","responses":{"200":{"description":"List of device types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceType"}}}}}},"post":{"tags":["Inventory Management"],"summary":"Create a device type","description":"Attributes for authorization: *Resource ID* **device_types**, *Operation* **write**","operationId":"createDeviceType","requestBody":{"description":"device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeviceTypeData"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceType"}}}}}}},"/api/2/device-templates":{"get":{"tags":["Inventory Management: Device Templates"],"summary":"List all device templates","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **read**","operationId":"listTemplates","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeviceTemplate"}}}}}}},"post":{"tags":["Inventory Management: Device Templates"],"summary":"Create a device template","description":"Attributes for authorization: *Resource ID* **device_templates**, *Operation* **write**","operationId":"createDeviceTemplate","requestBody":{"description":"template","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeviceTemplate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTemplateV1"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceTemplate"}}}}}}},"/api/2/activity-calendar-configurations":{"get":{"tags":["Inventory Management"],"summary":"Get all activity calendar configurations","description":"Attributes for authorization: *Resource ID* **activity_calendar_configurations**, *Operation* **read**","operationId":"getAllActivityCalendarConfigurations","responses":{"200":{"description":"All available activity calendar configurations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityCalendarConfigurationV2"}}}}}},"post":{"tags":["Inventory Management"],"summary":"Create activity calendar configuration","description":"Attributes for authorization: *Resource ID* **activity_calendar_configurations**, *Operation* **write**","operationId":"createActivityCalendarConfiguration","requestBody":{"description":"configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityCalendarConfigurationDataV2"}}},"required":true},"responses":{"200":{"description":"Activity calendar configuration created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityCalendarConfigurationV2"}}}},"400":{"description":"Invalid activity calendar configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityCalendarConfigurationV2"}}}}}}},"/api/1/vee/rule-sets":{"get":{"tags":["VEE"],"summary":"Get all available rule sets","description":"Attributes for authorization: *Resource ID* **vee_rule_sets**, *Operation* **read**","operationId":"getAllRuleSets","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RuleSet"}}}}}}},"post":{"tags":["VEE"],"summary":"Create a rule set","description":"Attributes for authorization: *Resource ID* **vee_rule_sets**, *Operation* **write**","operationId":"createRuleSet","requestBody":{"description":"Rule set","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRuleSetRequest"}}},"required":true},"responses":{"409":{"description":"Name is already used by another rule set","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/register-groups":{"get":{"tags":["Registers"],"summary":"List all available register groups","description":"Attributes for authorization: *Resource ID* **register_groups**, *Operation* **read**","operationId":"listRegisterGroups","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegisterGroup"}}}}}}},"post":{"tags":["Registers"],"summary":"Create a register group","description":"Attributes for authorization: *Resource ID* **register_groups**, *Operation* **write**","operationId":"createRegisterGroup","requestBody":{"description":"register group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterGroupPrototype"}}},"required":true},"responses":{"400":{"description":"Invalid register specified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"Name is already used by another register group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/push-setup-configurations":{"get":{"tags":["Push Setups"],"summary":"List all push setup configurations","description":"Attributes for authorization: *Resource ID* **push_setup_configurations**, *Operation* **read**","operationId":"getPushSetupConfigurations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PushSetupConfiguration"}}}}}}},"post":{"tags":["Push Setups"],"summary":"Create a push setup configuration","description":"Attributes for authorization: *Resource ID* **push_setup_configurations**, *Operation* **write**","operationId":"createPushSetupConfiguration","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSetupConfigurationPrototype"}}},"required":true},"responses":{"201":{"description":"Push setup configuration created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSetupConfiguration"}}}},"409":{"description":"A push setup configuration with the same id, name or content already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateProfileConfigurationErrorMessage"}}}}}}},"/api/1/public-holidays":{"get":{"tags":["Public Holidays"],"summary":"Get public holidays","description":"Attributes for authorization: *Resource ID* **public_holidays**, *Operation* **read**","operationId":"findAll","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicHoliday"}}}}}}},"post":{"tags":["Public Holidays"],"summary":"Add public holidays","description":"Attributes for authorization: *Resource ID* **public_holidays**, *Operation* **write**","operationId":"saveAll","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicHoliday"}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Public Holidays"],"summary":"Delete public holidays","description":"Attributes for authorization: *Resource ID* **public_holidays**, *Operation* **delete**","operationId":"remove","parameters":[{"name":"dates","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"}}}},"/api/1/profile-configurations":{"get":{"tags":["Profiles"],"summary":"List all profile configurations","description":"Attributes for authorization: *Resource ID* **profile_configurations**, *Operation* **read**","operationId":"getProfileConfigurations","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileConfiguration"}}}}}}},"post":{"tags":["Profiles"],"summary":"Create a profile configuration","description":"Attributes for authorization: *Resource ID* **profile_configurations**, *Operation* **write**","operationId":"createProfileConfiguration","requestBody":{"description":"configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileConfigurationData"}}},"required":true},"responses":{"201":{"description":"Profile configuration created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileConfiguration"}}}},"400":{"description":"The profile configuration name is already used","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"A profile configuration with the same capture period and capture objects already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DuplicateProfileConfigurationErrorMessage"}}}}}}},"/api/1/obis-codes":{"get":{"tags":["Registers"],"summary":"Get available OBIS codes","description":"Attributes for authorization: *Resource ID* **obis_codes**, *Operation* **read**","operationId":"getObisCodes","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ObisCode"}}}}}}},"post":{"tags":["Registers"],"summary":"Create an OBIS code","description":"Attributes for authorization: *Resource ID* **obis_codes**, *Operation* **write**","operationId":"createObisCode","requestBody":{"description":"obis Code","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObisCodeData"}}},"required":true},"responses":{"400":{"description":"Invalid OBIS code or target unit","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"OBIS code exists already","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/metering-point-device-assignments":{"get":{"tags":["Metering Point Device Assignments"],"summary":"Get all metering point device assignments with optional filters","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **read**","operationId":"getAssignments","parameters":[{"name":"device","in":"query","description":"Devices for which assignments should be retrieved","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"meteringPoint","in":"query","description":"Metering points for which assignments should be retrieved","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"continuationToken","in":"query","description":"A previously received continuation token to access the next set of assignments","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The maximum amount of assignments to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":1000}}],"responses":{"400":{"description":"Device or metering point specified by filter not found or invalid continuation token passed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}},"post":{"tags":["Metering Point Device Assignments"],"summary":"Create a metering point device assignment","description":"Attributes for authorization: *Resource ID* **metering_points**, *Operation* **write**","operationId":"createAssignment","requestBody":{"description":"metering point device assignment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeteringPointDeviceAssignmentPrototype"}}},"required":true},"responses":{"409":{"description":"There is an active assignment with this device or an assignment with this device with the same installation date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/groups":{"get":{"tags":["Group"],"summary":"Get all groups which the api user is allowed to see","description":"Attributes for authorization: *Resource ID* **groups**, *Operation* **read**","operationId":"getGroups_1","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Group"}}}}}},"deprecated":true},"post":{"tags":["Group"],"summary":"Create a sub-group","description":"Attributes for authorization: *Resource ID* **groups**, *Operation* **write**","operationId":"createGroup","requestBody":{"description":"Group details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupRequest"}}},"required":true},"responses":{"201":{"description":"Sub group successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GroupResponse"}}}},"404":{"description":"Group not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"409":{"description":"Group name was not unique","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/firmwares":{"get":{"tags":["Firmware"],"summary":"Get stored firmwares","description":"Attributes for authorization: *Resource ID* **firmwares**, *Operation* **read**","operationId":"getFirmwares","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Firmware"}}}}}}},"post":{"tags":["Firmware"],"summary":"Upload a firmware image","description":"Attributes for authorization: *Resource ID* **firmwares**, *Operation* **write**","operationId":"uploadFirmwareImage","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"version","in":"query","required":false,"schema":{"type":"string"}},{"name":"deviceType","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"metrological","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"imageIdentifier","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["userfile"],"type":"object","properties":{"userfile":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":"Created"}}}},"/api/1/devices":{"get":{"tags":["Inventory Management"],"summary":"Get all devices","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"getAllDevices","parameters":[{"name":"type","in":"query","description":"Device type to filter for","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Device"}}}}}}},"post":{"tags":["Inventory Management"],"summary":"Create a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"inventoryManagementCreateDevice","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeviceRequestV2"}}},"required":true},"responses":{"204":{"description":"No content"},"415":{"description":"Unsupported media type"},"200":{"description":"OK"},"422":{"description":"Unprocessable Entity"}},"deprecated":true,"x-deprecation":{"message":"Use the bulk interface /api/2/devices instead"}}},"/api/1/devices/{device}/registers/{register}/transformer-factor-assignments":{"get":{"tags":["Registers"],"summary":"Get all available transformer factor assignments for the specified register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"listTransformerFactors","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}},{"name":"effectiveAt","in":"query","description":"Specifies the point in time for which to return the effective assignment history.","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransformerFactorAssignment"}}}}}}},"post":{"tags":["Registers"],"summary":"Change the assignment of transformer factors on the specified register for a time range","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"assignTransformerFactor","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"transformer factor assignment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransformerFactorAssignmentRequest"}}},"required":true},"responses":{"204":{"description":"The history was successfully changed."}}}},"/api/1/devices/{device}/registers/{register}/standard-load-profile-assignments":{"get":{"tags":["Registers"],"summary":"Get all available standard load profile assignments for the specified register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"listStandardLoadProfiles","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}},{"name":"effectiveAt","in":"query","description":"Specifies the point in time for which to return the effective assignment history.","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StandardLoadProfileAssignment"}}}}}}},"post":{"tags":["Registers"],"summary":"Change the standard load profiles history of a register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"assignStandardLoadProfiles","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"standard load profile assingment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardLoadProfileAssignmentRequest"}}},"required":true},"responses":{"204":{"description":"The history was successfully changed."}}}},"/api/1/devices/{device}/registers/{register}/standard-consumption-assignments":{"get":{"tags":["Registers"],"summary":"Get all available standard consumption assignments for the specified register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"listStandardConsumptions","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}},{"name":"effectiveAt","in":"query","description":"Specifies the point in time for which to return the effective assignment history.","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StandardConsumptionAssignment"}}}}}}},"post":{"tags":["Registers"],"summary":"Change the standard consumption history of a register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"assignStandardConsumption","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"standard consumption assignment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardConsumptionAssignmentRequest"}}},"required":true},"responses":{"204":{"description":"The history was successfully changed."}}}},"/api/1/devices/{device}/registers/{register}/rule-set-assignments":{"get":{"tags":["Registers"],"summary":"Get all available rule set assignments for device register with layering","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"listRuleSets","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}},{"name":"effectiveAt","in":"query","required":false,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RuleSetAssignment"}}}}}}},"post":{"tags":["Registers"],"summary":"Assign a rule set to a register","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"assignRuleSet","parameters":[{"name":"device","in":"path","description":"Device ID","required":true,"schema":{"type":"string"}},{"name":"register","in":"path","description":"OBIS code","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"rule set details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuleSetAssignmentRequest"}}},"required":true},"responses":{"204":{"description":"The rule set was successfully assigned."}}}},"/api/1/devices/{device}/push-setups":{"get":{"tags":["Push Setups"],"summary":"Get all push setups of a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"getDevicePushSetups","parameters":[{"name":"device","in":"path","description":"Device","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DevicePushSetup"}}}}}}},"post":{"tags":["Push Setups"],"summary":"Add a push setup to a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"create","parameters":[{"name":"device","in":"path","description":"Device","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePushSetup"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePushSetup"}}}}}}},"/api/1/devices/{device}/profiles/{profile}/profile-configurations":{"post":{"tags":["Profiles"],"summary":"Set profile configuration on device profile","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"setProfileConfigurationV1","parameters":[{"name":"device","in":"path","description":"The device identifier","required":true,"schema":{"type":"string"},"example":"81010001A"},{"name":"profile","in":"path","description":"The profile identifier","required":true,"schema":{"type":"string"},"example":"Load profile 1"}],"requestBody":{"description":"configuration details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDetails"}}},"required":true},"responses":{"200":{"description":"profile configuration details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigurationDetails"}}}},"404":{"description":"The device or profile or profile configuration were not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}},"400":{"description":"The active since was set in future or active since was less than current active since","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}},"deprecated":true,"x-deprecation":{"message":"Use /api/2/devices/{device}/profiles/{profile}/profile-configurations instead"}}},"/api/1/devices/{device}/metered-data":{"post":{"tags":["Registers"],"summary":"Add metered data for a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceMeteredDataAddV1","parameters":[{"name":"device","in":"path","description":"Device","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Metered data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProfileReadData"}}}},"required":true},"responses":{"204":{"description":"Data was accepted and will be processed."}},"deprecated":true,"x-deprecation":{"message":"Use /api/2/devices/{device}/metered-data instead"}}},"/api/1/devices/{device}/customer-key-export":{"post":{"tags":["Key Management"],"summary":"Export (customer interface) meter key in plain text","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"exportCustomerKey","parameters":[{"name":"device","in":"path","description":"Device identifier","required":true,"schema":{"type":"string"},"example":"KFM1100100000018"}],"requestBody":{"description":"Export request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerKeyExportRequest"}}},"required":true},"responses":{"200":{"description":"Key was exported successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}}},"404":{"description":"The given device, meter role or key type is not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}}},"400":{"description":"The given transport key is not a valid key, i.e. not an AES key or not correctly encoded in Base64","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueHolderString"}}}},"503":{"description":"\nKey management system is not configured.\n\nSince ZONOS FullProtect is an optional module, the API will report this error in its absence for all operations\nrequiring it. Please make sure access to ZONOS FullProtect is correctly configured.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/devices/{device}/crypto-sets/{cryptoSet}/keys/{type}/versions":{"post":{"tags":["Key Management"],"summary":"Generate a new key","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"generateCryptoKey","parameters":[{"name":"device","in":"path","description":"Device identifier","required":true,"schema":{"type":"string"}},{"name":"cryptoSet","in":"path","description":"Label of the crypto set (meter role) of the to be generated key","required":true,"schema":{"type":"string","enum":["mi","mm","ci","di","cs_ro","cs_rw","cf"]}},{"name":"type","in":"path","description":"Type of key to be generated key","required":true,"schema":{"type":"string","enum":["MK","AK","GUEK","GBEK","HLSSECRET","HLSGMAC"]}}],"requestBody":{"description":"\nParameters for key generation, if unspecified master key from generated key's crypto set \nand 16 byte length will be used.\n            ","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoKeyGenerationParameters"}}}},"responses":{"200":{"description":"New key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoKeyDetails"}}}},"503":{"description":"\nKey management system is not configured.\n\nSince ZONOS FullProtect is an optional module, the API will report this error in its absence for all operations\nrequiring it. Please make sure access to ZONOS FullProtect is correctly configured.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorMessage"}}}}}}},"/api/1/devices/{device}/alarms/{code}/first-occurred-at/{firstOccurredAt}/reopen":{"post":{"tags":["Alarms And Events"],"summary":"Reopen a closed alarm","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceAlarmsOpen","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}},{"name":"code","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"firstOccurredAt","in":"path","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"204":{"description":"Alarm for the specified device and alarm code was reopened"},"404":{"description":"Device or alarm code not found"}}}},"/api/1/devices/{device}/alarms/{code}/first-occurred-at/{firstOccurredAt}/close":{"post":{"tags":["Alarms And Events"],"summary":"Close an open alarm","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceAlarmsClose","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}},{"name":"code","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"firstOccurredAt","in":"path","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"204":{"description":"Alarm for the specified device and alarm code was closed"},"404":{"description":"Device or alarm code not found"}}}},"/api/1/devices/{device}/alarms/close":{"post":{"tags":["Alarms And Events"],"summary":"Close all open alarms for a device","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **write**","operationId":"deviceAlarmsCloseAll","parameters":[{"name":"device","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Alarms for the specified device were closed"},"404":{"description":"Device not found"}}}},"/api/1/devices/vee/rule-sets/assign":{"post":{"tags":["Inventory Management"],"summary":"Create a rule set assignment transaction","description":"Attributes for authorization: *Resource ID* **device_vee_rule_set_assignment_transactions**, *Operation* **write**","operationId":"startVeeRuleSetAssignment","requestBody":{"description":"Rule Set Assignment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeeRuleSetAssignment"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/1/devices/state/p0":{"post":{"tags":["Device State"],"summary":"Get the current P0 Port state","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceStateGetP0","requestBody":{"description":"devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceParameters"}}},"required":true},"responses":{"200":{"description":"Current states of P0 interface of given devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/P0State"}}}}}}},"/api/1/devices/state/load-limit":{"post":{"tags":["Device State"],"summary":"Get the current load limit","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceStateGetLoadLimit","requestBody":{"description":"devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceParameters"}}},"required":true},"responses":{"200":{"description":"Current load limit of given devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadLimit"}}}}}}},"/api/1/devices/state/han":{"post":{"tags":["Device State"],"summary":"Get the current HAN Port state","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceStateGetHanState","requestBody":{"description":"devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceParameters"}}},"required":true},"responses":{"200":{"description":"Current state of HAN port of given devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HanState"}}}}}}},"/api/1/devices/state/firmware":{"post":{"tags":["Device State"],"summary":"Get the current firmware","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceStateGetFirmware","requestBody":{"description":"devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceParameters"}}},"required":true},"responses":{"200":{"description":"Current Firmware of given devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BreakerState"}}}}}}},"/api/1/devices/state/display/load-profile":{"post":{"tags":["Device State"],"summary":"Get the current state of load profiles on display","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceStateGetDisplayLoadProfile","requestBody":{"description":"devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceParameters"}}},"required":true},"responses":{"200":{"description":"Are load profile(s) to be shown on the display?","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisplayLoadProfileState"}}}}}}},"/api/1/devices/state/breaker":{"post":{"tags":["Device State"],"summary":"Get the current breaker state","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceStateGetBreakerState","requestBody":{"description":"devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceParameters"}}},"required":true},"responses":{"200":{"description":"Current state of breaker of given devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BreakerState"}}}}}}},"/api/1/devices/state/activity-calendar":{"post":{"tags":["Device State"],"summary":"Get the current activity calendar","description":"Attributes for authorization: *Resource ID* **devices**, *Operation* **read**","operationId":"deviceStateGetActivityCalendar","requestBody":{"description":"devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceParameters"}}},"required":true},"responses":{"200":{"description":"Current activity calendar of given devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityCalendar"}}}}}}},"/api/1/devices/delete":{"post":{"tags":["Inventory Management"],"summary":"Create a device deletion transaction","description":"Attributes for authorization: *Resource ID* **device_deletion_transactions**, *Operation* **write**","operationId":"startDeviceDeletion","requestBody":{"description":"devices to be deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteDevicesRequest"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"404":{"description":"Devices not found"}}}},"/api/1/devices/control/write-profile-configuration":{"post":{"tags":["Device Control: Profile Configuration"],"summary":"Write or apply a new profile configuration to a profile","description":"Attributes for authorization: *Resource ID* **profile_configuration_write_transactions**, *Operation* **write**","operationId":"writeV1","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteProfileConfigurationRequest"}}},"required":true},"responses":{"400":{"description":"Bad request"}},"deprecated":true,"x-deprecation":{"message":"Use /api/2/devices/control/write-profile-configuration instead"}}},"/api/1/devices/control/write-parameters":{"post":{"tags":["Device Control: Write Parameters"],"summary":"Create a Write Parameters transaction","description":"Attributes for authorization: *Resource ID* **parameter_write_transactions**, *Operation* **write**","operationId":"deviceControlWriteParameters","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WriteParametersParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"400":{"description":"Bad request"},"403":{"description":"Forbidden (Number of DCT executions exceeds limit of associated criticality)."},"404":{"description":"Not found (Device (ID=some-device) not found)"}}}},"/api/1/devices/control/time/sync":{"post":{"tags":["Device Control: Time"],"summary":"Create a Synchronise Time transaction","description":"Attributes for authorization: *Resource ID* **clock_synchronisation_transactions**, *Operation* **write**","operationId":"deviceControlTimeSync","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceControlParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/1/devices/control/time/get":{"post":{"tags":["Device Control: Time"],"summary":"Create a Get Time transaction","description":"Attributes for authorization: *Resource ID* **clock_read_transactions**, *Operation* **write**","operationId":"deviceControlGetTime","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceControlParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/1/devices/control/taf9":{"post":{"tags":["Device Control: TAF 9"],"summary":"Create a TAF9 transaction","description":"Attributes for authorization: *Resource ID* **taf9_execution_transactions**, *Operation* **write**","operationId":"deviceControlTaf9","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Taf9"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/1/devices/control/taf10/stop":{"post":{"tags":["Device Control: TAF 10"],"summary":"Create a Stop TAF 10 Measurement transaction","description":"Attributes for authorization: *Resource ID* **taf10_stop_transactions**, *Operation* **write**","operationId":"deviceControlStopTaf10Measurement","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StopTaf10Request"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/1/devices/control/taf10/start":{"post":{"tags":["Device Control: TAF 10"],"summary":"Create a Start TAF 10 measurement transaction","description":"Attributes for authorization: *Resource ID* **taf10_start_transactions**, *Operation* **write**","operationId":"deviceControlStartTaf10Measurement","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartTaf10Request"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}}}}},"/api/1/devices/control/smgw/certificate-update":{"post":{"tags":["Device Control: SMGW"],"summary":"Create a Certificate Update transaction","description":"Attributes for authorization: *Resource ID* **certificate_update_from_ldap_transactions**, *Operation* **write**","operationId":"smgwCertificateUpdate","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CertificateUpdateParameters"}}},"required":true},"responses":{"200":{"description":"Execution state of the transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"400":{"description":"Bad request"},"403":{"description":"Forbidden (Number of DCT executions exceeds limit of associated criticality)."},"404":{"description":"Not found (Device (ID=some-device) not found)"}}}},"/api/1/devices/control/set-push-configuration":{"post":{"tags":["Device Control: Set Push Configuration"],"summary":"Create a Set Push Configuration transaction","description":"Attributes for authorization: *Resource ID* **push_configuration_write_transactions**, *Operation* **write**","operationId":"deviceControlSetPushConfiguration","requestBody":{"description":"parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteConfiguringRequest"}}},"required":true},"responses":{"204":{"description":"No content"},"415":{"description":"Unsupported media type"},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"422":{"description":"Unprocessable Entity"}}}},"/api/1/devices/control/secret-management/exchange-secret":{"post":{"tags":["Device Control: Secret Management"],"summary":"Create an Exchange Secret transaction","description":"Attributes for authorization: *Resource ID* **secret_exchange_transactions**, *Operation* **write**","operationId":"deviceControlExchangeSecret","requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeSecretParameters"}}},"required":true},"responses":{"200":{"description":"Device control result, representing the execution state of the transa
[...]
